body {
  background-color: white;
  width: 80%;
  margin: auto;
}

h1 {
  font-family: Verdana;
  color: #1972ff;
  text-align: left;
}

h2 {
  font-family: Verdana;
  color: #1972ff;
  text-align: left;
}

h3 {
  font-family: Verdana;
  color: #1972ff;
  text-align: left;
}

p {
  font-family: Verdana;
  font-size: 20px;
  width: 65%;
}